name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.9]

    steps:
      # need checkout before using compose-action
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Run docker-compsoe
        run: docker-compose run app sh -c "python manage.py test"
